.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.weather {
  width: 400px;
  height: 500px;
  background-color: skyblue;
  margin-top: 3rem;
  margin-inline: auto;
}
.form-control-me-2 {
  margin: 10px;
  height: 40px;
  border-radius: 80px;
}
.btn-btn-outline-line {
  border-radius: 40%;
  background-color: white;
  color: black;
}
.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}
.bi-geo-alt-fill {
  color: yellow;
}
